mixin slider-room(n,j)
  article.slider 
    input(type="radio", name=n, id=j + 1) 
      //- input(type="radio", name=n, id=j + '2', checked) 
        input(type="radio", name=n, id=j + '3') 
        input(type="radio", name=n, id=j + '4') 
        .slides 
        img(src="../src/uiKit/img/room1.jpg", alt="room")
        .activ-slider 
        label(for=j + '1') 
        label(for=j + '2') 
        label(for=j + '3') 
        label(for=j + '4') 
    //- <article id="slider">
      <input checked type="radio" name="slider" id="slide1" />
      <input type="radio" name="slider" id="slide2" />
      <input type="radio" name="slider" id="slide3" />

      <div id="slides">
          <div id="overflow">
              <div class="inner">

                  <article>
                      <img src="img/slider1.png" />
                  </article>
                  <article>
                      <img src="img/slider1.png" />
                  </article>
                  <article>
                      <img src="img/slider1.png" />
                  </article>  
              </div> 
          </div> 

      </div> 

      <div id="active">

          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>

      </div> 
      </article>
