//- index.pug
doctype html
html(lang="ru")
  //- Include head
  include ./component/head.pug
  body
    //- Include header
    include ./component/header.pug
    section.row
      .col 
      h1.colors Colors & Text
        div 
        div 
          h2 Dark Shadee 100%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 75%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 50%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 25%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 5%
          p &sharp;1F2041
        div 
        div 
          h2 Purple
          p &sharp;BC9CFF
        div 
        div 
          h2 Green
          p &sharp;6FCF97
      .col 
        div 
          p H1
          h1.
            This one is the sub-section or
            <br>
            widget title
        div 
          p H2
          h2.
            Next one is the item title inside
            <br>
            widgets
        div 
          p H3
          h3 This is a label or CTA text
        div 
          p Body
          p.
            This is the body text which is used for most 
            <br>
            of the design, like paragraphs, lists, etc.
    section.row 
      .col 
        h1 Forms elements
        .row 
          h3 TEXT FIELD
          p DEFAULT
        include ./component/email.pug
        div 
          h3 TEXT FIELD
          p HOVER/FOCUS
          input(
            type="email",
            name="hover",
            placeholder="This is pretty awecome"
          )
          include ./component/email.pug
          //- = (placeholder="This is pretty awecome")
        div 
          h3 DROPDOWN
          select.box(name="") 
            option(value="") Сколько гостей
        div 
          h3 MASKED TEXT FIELD
          include ./component/datetime.pug

        div 
          div 
            h3 DATE DROPDOWN
            include ./component/dateDropdown.pug
              option(value="ДД.ММ.ГГГГ") ДД.ММ.ГГГГ
          div 
            h3 DATE DROPDOWN
            input.datedropdown(
              type="date",
              name="date",
              value="2021.08.02",
              min="2021-07-25"
            )
            select.box(name="") 
              option(value="")
                input.datedropdown(
                  type="date",
                  name="date",
                  value="2021.08.02",
                  min="2021-07-25",
                  multiple
                )
        div 
          h3 DATE DROPDOWN
          select.box(name="") 
            option(value="") 19 авг - 23 авг
        div 
          h3 SUBSCRIPTION TEXT FIELD
          input.box(
            type="email",
            name="email",
            placeholder="Email    &#129122"
          )
      .row 
        .col 
        ul 
          li 
            h3 Checkbox Buttons
          li
            p.
              <input type="checkbox", name="", value="Можно курить">Можно курить
          li
            p <input type="checkbox", name="", value="Можно с питомцами", checked>Можно с питомцами
          li
            p.
              <input type="checkbox",name="",value="",checked> Можно пригласить гостей <br>
              (до 10 человек)
        div 
          h3 Radio Buttons
          p 
            input#main(type="radio", name="huiz", value="Мужчина", checked)
          p 
            input#women(type="radio", name="huiz", text="value")
        div 
          h3 Toggle
          label(for="") 
            input(type="checkbox", checked)
            span 
            p Получать спецпредложения
          label(for="") 
            input(type="checkbox")
            span 
            p Получать спецпредложения
        div 
          h3 like button
          div 
            button ♥ 1
          div 
            button ♥ 12
        div 
          h3 rate button
          div 
            input#star-5(type="radio", name="rating-1", value="5")
            label(for="star-5", title="5") 
            input#star-4(type="radio", name="rating-1", value="4", checked)
            label(for="star-4", title="4") 
            input#star-3(type="radio", name="rating-1", value="3")
            label(for="star-3", title="3") 
            input#star-2(type="radio", name="rating-1", value="2")
            label(for="star-2", title="2") 
            input#star-1(type="radio", name="rating-1", value="1")
            label(for="star-1", title="1") 
          div 
            input#star-15(type="radio", name="rating-2", value="5", checked)
            label(for="star-15", title="5") 
            input#star-14(type="radio", name="rating-2", value="4")
            label(for="star-14", title="4") 
            input#star-13(type="radio", name="rating-2", value="3")
            label(for="star-13", title="3") 
            input#star-12(type="radio", name="rating-2", value="2")
            label(for="star-12", title="2") 
            input#star-11(type="radio", name="rating-2", value="1")
            label(for="star-11", title="1") 
      .row 
        .col 
          h3 Range Slider
          p 5 000₽ - 10 000₽
          div 
            div 
              label(for="") 
              div 
                input(
                  type="number",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="5000"
                )
                input(
                  type="number",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="10000"
                )
              div 
                input(
                  type="range",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="5000"
                )
                input(
                  type="range",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="10000"
                )
          div 
            h3 buttons
            div 
              a(href="#") CLICK ME
              a(href="#") CLICK ME
              button CLICK ME
              button CLICK ME
              input(type="button", value="CLICK ME")
              input(type="button", value="CLICK ME")
            div 
              a(href="#") CLICK ME
              a(href="#") CLICK ME
              button CLICK ME
              button CLICK ME
              input(type="button", value="CLICK ME")
              input(type="button", value="CLICK ME")
            div 
              a(href="#") CLICK ME
              a(href="#") CLICK ME
              button CLICK ME
              button CLICK ME
              input(type="button", value="CLICK ME")
              input(type="button", value="CLICK ME")
            div 
              a(href="#") перейти к оплате &#129122
              button перейти к оплате &#129122
              input(type="button", value="перейти к оплате &#129122") 
          div 
            h3 pagination
            div 
            - var n = 0;
              ul
                while n < 4
                  li
                    a(href="#")= n++

              button &#129122
              p 1 – 12 из 100+ вариантов аренды
    section.row 
      .col 
        div 
          h3 dropdown
          p Default
          select(name="") 
            option(value="") 2 спальни, 2 кровати...
          div 
            h3 спальни
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="2")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          div 
            h3 кровати
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="2")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          div 
            h3 ванные комнаты
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="0")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
      .row 
        .col 
          h3 dropdown
          select(name="") 
            option(value="") Сколько гостей
          div 
            h3 взрослые
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="0")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          div 
            h3 дети
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="0")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          div 
            h3 младенцы
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="0")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          button применить
      .row 
        .col 
          h3 dropdown
          select(name="") 
            option(value="") 3 гостя
          div 
            h3 взрослые
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="2")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          div 
            h3 дети
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="1")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          div 
            h3 младенцы
              button(
                type="button",
                onclick="this.nextElementSibling.stepDown()"
              ) -
              input(type="number", min="0", max="100", value="0")
              button(
                type="button",
                onclick="this.previousElementSibling.stepUp()"
              ) +
          button очистить
          button применить
    section.row 
      .col 
        div 
          button 
            h3 expandable checkbox list
        div 
          button 
            h3 expandable checkbox list
          ul 
            li 
              input(type="checkbox")
              p Завтрак
            li 
              input(type="checkbox", checked)
              p Письменный стол
            li 
              input(type="checkbox", checked)
              p Стул для кормления
            li 
              input(type="checkbox", checked)
              p Кроватка
            li 
              input(type="checkbox")
              p Телевизор
            li 
              input(type="checkbox")
              p Шампунь
      .row 
        .col 
          h3 rich Checkbox Buttons
          ul 
            li 
              input(type="checkbox")
              h3 Широкий коридор
              p Ширина коридоров в номере не менее 91 см.
            li 
              input(type="checkbox")
              h3 Помощник для инвалидов
              p На 1 этаже вас встретит специалист и проводит до номера.
      .row 
        .col 
          h3 bullet list
          ul 
            each val, index in ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00,<br> а выезд до 12:00']
              li= index + ': ' + val
    section.row 
      .col 
        div 
          img(
            src="../src/uiKit/img/insert_emoticonsmail.svg",
            alt="emoticonsmail"
          )
          h3 Комфорт
          br
          p Шумопоглощающие стены
          hr
        div 
          img(src="../src/uiKit/img/location_city.svg", alt="location_city")
          h3 Удобство
          br
          p Окно в каждой из спален
          hr
      .row
      .col 
        div 
          img(
            src="../src/uiKit/img/image_otziv.png",
            alt="image_otziv",
            width=" 48px",
            height="48px"
          )
          h3 Мурад Сарафанов
          br
          p 5 дней назад
        div 
          button ♥ 12
          p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
          //- select(name="") Стул для кормления d:\git_tutorial\work\test\src\uiKit\img\insert_emoticonsmail.svg
            option(value="")
              h3 expandable checkbox list
    //- Include footer
          - var n = 0;
      ul
        while n < 4
          li= n++
          readonly style="display: none"
    include ./component/cards.pug
    include ./component/footer.pug
