extends ./component/layout
//- include ./component/elements/subscription/subscription.pug

block title
  title ui Kit
  - var titleSection = 'Здесь все элементы';

block content
  body
    section.row
      .col 
      h1.colors Colors & Text
        div 
        div 
          h2 Dark Shadee 100%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 75%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 50%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 25%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 5%
          p &sharp;1F2041
        div 
        div 
          h2 Purple
          p &sharp;BC9CFF
        div 
        div 
          h2 Green
          p &sharp;6FCF97
      .col 
        div 
          p H1
          h1.
            This one is the sub-section or
            <br>
            widget title
        div 
          p H2
          h2.
            Next one is the item title inside
            <br>
            widgets
        div 
          p H3
          h3 This is a label or CTA text
        div 
          p Body
          p.
            This is the body text which is used for most 
            <br>
            of the design, like paragraphs, lists, etc.
    section.row 
      .col 
        h1 Forms elements
        .row 
          h3 TEXT FIELD
          p DEFAULT
        include ./component/email.pug
        div 
          h3 TEXT FIELD
          p HOVER/FOCUS
          input(
            type="email",
            name="hover",
            placeholder="This is pretty awecome"
          )
          include ./component/email.pug
          //- = (placeholder="This is pretty awecome")
        div 
          h3 DROPDOWN
        include ./component/elements/dropdown/dropdown.pug
        +dropdown-people("3 гостя")

        div 
          h3 MASKED TEXT FIELD
          include ./component/datetime.pug

        div 
          div 
            h3 DATE DROPDOWN
            include ./component/dateDropdown.pug
              option(value="ДД.ММ.ГГГГ") ДД.ММ.ГГГГ
          div 
            h3 DATE DROPDOWN
            input.datedropdown(
              type="date",
              name="date",
              value="2021.08.02",
              min="2021-07-25"
            )
            select.box(name="") 
              option(value="")
                input.datedropdown(
                  type="date",
                  name="date",
                  value="2021.08.02",
                  min="2021-07-25",
                  multiple
                )
        h3 DATE DROPDOWN
        include ./component/elements/date-dropdown/date-dropdown.pug
        h3 SUBSCRIPTION TEXT FIELD
        include ./component/elements/subscription/subscription.pug

      .row 
        .col 
          include ./component/elements/checkbox/checkbox.pug
          h3 Checkbox Buttons
          +checkbox-button('smoke','Можно курить') 
          +checkbox-button('animals','Можно с питомцами','checked') 
          +checkbox-button('guests','Можно пригласить гостей', 'checked') 
            br
            span (до 10 человек)
          div 
            h3 Radio Buttons
            include ./component/elements/human/human
            +human('first1','first2','noForm')
          div 
            h3 Toggle
            include ./component/toggle/toggle.pug
            +toggle("togle-ui-Kit")
          div 
            h3 like button
            include ./component/elements/like/like
            +like(1)
            +like(12,'chek')
          div 
            h3 rate button
            include ./component/elements/rate/rate
            +rate-button(4)
            +rate-button(5)
      .row 
        .col 
          h3 Range Slider
          p 5 000₽ - 10 000₽
          div 
            div 
              label(for="") 
              div 
                input(
                  type="number",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="5000"
                )
                input(
                  type="number",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="10000"
                )
              div 
                input(
                  type="range",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="5000"
                )
                input(
                  type="range",
                  name="",
                  step="100",
                  min="1000",
                  max="50000",
                  value="10000"
                )
          div 
            h3 buttons
            div 
              a.button.button_no_border(href="#") CLICK ME
              a.button.button_border(href="#") CLICK ME
              a.button.button_flooded click me
              button.button.button_no_border CLICK ME
              button.button.button_border CLICK ME
              button.button.button_flooded CLICK ME
              button.button.button_flooded.button_size_w CLICK ME
                span.button_icon_arrow_right 
              button.button.button_flooded.button_size_w.button_icon_arrow_right CLICK ME
              input.button.button_no_border(type="button", value="CLICK ME")
              input.button.button_flooded(type="button", value="CLICK ME")
            div 
              a(href="#") CLICK ME
              a(href="#") CLICK ME
              button CLICK ME
              button CLICK ME
              input.button.button_border(type="button", value="CLICK ME")
              input(type="button", value="CLICK ME")
            div 
              a(href="#") CLICK ME
              a(href="#") CLICK ME
              button CLICK ME
              button CLICK ME
              input(type="button", value="CLICK ME")
              input.btn-3(type="button", value="CLICK ME")
            div 
              a.btn-4(href="#") перейти к оплате &#129122
              button.btn-4 перейти к оплате &#129122
              input.btn-4(type="button", value="перейти к оплате &#129122") 
          div 
            h3 pagination
              //- div 
                - var n = 0;
                  ul
                    while n < 4
                      li
                        a(href="#")= n++
            include ./component/elements/pagination/pagination
            +pagination(1)
            +pagination(13)
    section.row 
      .col 
        div 
          h3 dropdown
          p Default
          +dropdown-room("2 спальни, 2 кровати...")
          +dropdown-container("спальни","2", "кровати","4", "ванные комнаты","1")
      .row 
        .col 
          h3 dropdown
          +dropdown-people("Сколько гостей") 
          +dropdown-container("взрослые", "0", "дети","0", "младенцы",0) 
            button.button.button_no_border применить
          //- (применить)

      .row 
        .col 
          h3 dropdown
          +dropdown-people("3 гостя")
          +dropdown-container("взрослые","2", "дети","1", "младенцы","0")
            button.button.button_no_border применить
            button.button.button_no_border очистить
    section.row 
      .col 
        include ./component/elements/expandable/expandable
        +expandable('expandable checkbox list')
        +checkbox-button('breakfast','Завтрак') 
        +checkbox-button('desk','Письменный стол','checked') 
        +checkbox-button('feeding','Стул для кормления','checked') 
        +checkbox-button('crib','Кроватка','checked') 
        +checkbox-button('tv','Телевизор') 
        +checkbox-button('shampoo','Шампунь') 

      .row 
        .col 
          h3 rich Checkbox Buttons
          +checkbox-button-rich('korridor','Широкий коридор') 
            p Ширина коридоров в номере не менее 91 см.
          +checkbox-button-rich('assistant','Помощник для инвалидов') 
            p На 1 этаже вас встретит специалист и проводит до номера.

      .row 
        .col 
          h3 bullet list
          ul 
            each val, index in ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00,<br> а выезд до 12:00']
              li= index + ': ' + val
    section.row 
      .col 
        div 
          img(
            src="../src/uiKit/img/insert_emoticonsmail.svg",
            alt="emoticonsmail"
          )
          h3 Комфорт
          br
          p Шумопоглощающие стены
          hr
        div 
          img(src="../src/uiKit/img/location_city.svg", alt="location_city")
          h3 Удобство
          br
          p Окно в каждой из спален
          hr
      .row
      .col 
        div 
          img(
            src="../src/uiKit/img/image_otziv.png",
            alt="image_otziv",
            width=" 48px",
            height="48px"
          )
          h3 Мурад Сарафанов
          br
          p 5 дней назад
        div 
          button ♥ 12
          p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
          //- select(name="") Стул для кормления d:\git_tutorial\work\test\src\uiKit\img\insert_emoticonsmail.svg
            option(value="")
              h3 expandable checkbox list
    //- Include footer
          - var n = 0;
      ul
        while n < 4
          li= n++
          readonly style="display: none"
    include ./component/cards.pug
    include ./component/header&footer.pug
