mixin human(i,j,k)
  input.visually-hidden(id=i, type="radio", name=k, value="man", checked)
  label(for=i) Мужчина
  input.visually-hidden(id=j, type="radio", name=k, value="woman")
  label(for=j) Женщина
