include ./elements/room-number/room-number
.modal.modal-order
  +room-number(889,'9 800','люкс') 
  form.modal-order-form(action="", method="post") 
    label(for="") 
      h3 прибытие
      input.datepicker-here(
        type="text",
        data-position="right top",
        value="date"
      )
    label(for="") 
      h3 выезд
      input.datepicker-here(
        type="text",
        data-position="left top",
        value="date+3"
      )
    label(for="") 
      h3 гости
      input(type="text", value="3 гостя", placeholder="Сколько гостей")
    .conteiner
      ul.modal-order-total-services 
        li 
          p 9 990₽ х 4 суток
        li 
          p Сбор за услуги:
            span скидка 2 179₽
        li 
          p Сбор за дополнительные <br> услуги
      ul.modal-order-total-price 
        li 
          p 39 960₽
        li 
          p 0₽
        li 
          p 300₽
    .conteiner
      h2 Итого
      .point
      h2 38 081₽
    button.button.button_flooded.button_size_w.button_icon_arrow_right(
      type="submit",
      value=""
    ) забронировать
  //- .modal-order-price 
