.modal.modal-registration
  h1 Регистрация аккаунта
  form.form-registration(action="", method="post") 
    input(type="text", name="first-name", placeholder="Имя")
    input(type="text", name="last-name", placeholder="Фамилия")
    include ./elements/human/human
    +human("reg1",'reg2','humen')
    h3 дата рождения
    input#birthday.datepicker-here(
      type="text",
      data-position="right top",
      value="ДД.ММ.ГГГГ"
    )
    h3 данные для входа в сервис
    input(type="email", name="email", placeholder="Email")
    input(type="password", name="password", placeholder="Пароль")
    include ./toggle/toggle.pug
    +toggle("togle-registration")
    button.button.button_flooded.button_size_w.button_icon_arrow_right(
      type="submit",
      value=""
    ) перейти к оплате
  p Уже есть аккаунт на Toxin
    button.button.button_border войти
