.modal.modal-order
  .conteiner 
    ul.modal-order-title 
      li 
        h3 №
      li 
        h1 888
      li
        h3 люкс
    ul.modal-order-price
      li
        h3 9 990₽
      li
        p в сутки
  form.modal-order-form(action="", method="post") 
    label(for="") 
      h3 прибытие
      input.datepicker-here(
        type="text",
        data-position="right top",
        value="date"
      )
    label(for="") 
      h3 выезд
      input.datepicker-here(
        type="text",
        data-position="left top",
        value="date+3"
      )
    label(for="") 
      h3 гости
      input(type="text", value="3 гостя", placeholder="Сколько гостей")
    .conteiner
      ul.modal-order-total-services 
        li 
          p 9 990₽ х 4 суток
        li 
          p Сбор за услуги:
            span скидка 2 179₽
        li 
          p Сбор за дополнительные услуги

      ul.modal-order-total-price 
        li 
          p 39 960₽
        li 
          p 0₽
        li 
          p 300₽
    .conteiner
      ul.modal-order-total 
        li 
          h2 Итого
        li 
          h2 38 081₽
    button.btn-4(type="submit", value="") забронировать
  //- .modal-order-price 
