.modal.modal-room
  .conteiner
    img(src="../src/uiKit/img/room1.jpg", alt="room")
    input(type="button", value="")
    label(for="") 
    input(type="button", value="")
    label(for="") 
  .room-parametr 
    ul.modal-order-title 
      li 
        h3 №
      li 
        h1 888
      li
        h3 люкс
    ul.modal-order-price
      li
        h3 9 990₽
      li
        p в сутки
  hr
  ul.room-rating
    li
      img(
        src="../src/uiKit/img/star.svg",
        alt="star",
        width="24px",
        height="24px"
      )
    li
      img(
        src="../src/uiKit/img/star.svg",
        alt="star",
        width="24px",
        height="24px"
      )
    li
      img(
        src="../src/uiKit/img/star.svg",
        alt="star",
        width="24px",
        height="24px"
      )
    li
      img(
        src="../src/uiKit/img/star.svg",
        alt="star",
        width="24px",
        height="24px"
      )
    li
      img(
        src="../src/uiKit/img/star_border.svg",
        alt="star",
        width="24px",
        height="24px"
      )

    li
      h3 145
    li
      p Отзывов
